details.group {
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0.5em 0;
}

details.group[open] > summary {
  margin-bottom: 0.5rem;
}

/* audit icons */
details.result.loading > summary {
  font-weight: bold;
  list-style-type: "⏳";
  color: darkgray;
}
details.result.fail > summary {
  list-style-type: "❌";
  color: darkred;
}
details.result.error > summary {
  list-style-type: "❌";
  color: red;
}
details.result.warn > summary {
  list-style-type: "🟠";
  color: darkorange;
}
details.result.pass > summary {
  list-style-type: "✅";
  color: darkgreen;
}
details.result.info > summary {
  list-style-type: "🔵";
  color: darkblue;
}

pre.error {
  color: red;
}

/* base */
p {
  margin: 0;
  white-space: pre-wrap;
}

details summary {
  list-style-position: outside;
  padding-left: 0.5em;
  margin-left: 1em;
}
